.NavBar {
    border: solid 1px #000;
    background-color: #c08e39;
}

.logo {
    font-family: 'Syncopate', sans-serif;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}
 
.Active {
    font-weight: bold;
    font-size: 1.5rem;
}

.NavIcon {
    height: 2rem;
    margin: 1rem;
}