.NavBar {
   
    background-color: #2d2d3e;
}

.icons {
    color: #9c9cae;
    font-size: 1.5rem;
    padding: 1rem;
    vertical-align: middle;
}

.icons:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #6a62f8;
}

#Links {
    color: whitesmoke;
    font-family: 'Syncopate', sans-serif;
    font-size: 0.8rem;
    padding-top: 1rem;
}

#Links:hover {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #6a62f8;
    transition: color ease-in-out 0.3s;
}

.Links {
    color: whitesmoke;
    font-family: 'Syncopate', sans-serif;
    font-size: 0.8rem;
}

.Links:hover {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #6a62f8;
    transition: color ease-in-out 0.3s;
}

.Active {
    font-weight: bold;
    color: #6a62f8;
}

.Active i {
    color: #6a62f8;
    border-bottom: 2px solid #ff1493;
}

.burger {
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
    background-color: #6a62f8;
}

.Dropdown {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    font-family: 'Syncopate', sans-serif;
    color: #2d2d3e;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


