body {
    background-color: #d2cbe3;
}

.Post {
    
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.Post figure,
h5 {
    margin: 0 0;
}

.posticons {
    color: #6a62f8;
    font-size: 1.8rem;
    padding: 1rem;
    vertical-align:middle;
}

.posticons:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #ff1493;
}



/* unused styles */
/* .Heart {
    color: #f85032;
}

.Heart:hover {
    color: #2142b2;
}

.HeartOutline:hover {
    color: #f85032;
} */