.SearchBar input {
    border-radius: 20px;
    color: #2d2d3E;
    padding-left: 2.5rem;
    margin-bottom: 1rem;
}

.SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
}

.SearchIcon:hover {
    cursor: default;
}