.App {
    font-family: 'Montserrat', sans-serif;
    color: #2d2d3e;
    min-height: 100vh;
    font-size: 1rem;
    background: url("https://res.cloudinary.com/dvvr7cpfs/image/upload/v1690051222/Grey_wall-jpeg_y7hpq8.jpg") no-repeat bottom right fixed;
    background-color: #d2cbe3;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}

* {
    box-sizing: border-box;
}


.Main {
    padding-top: 6rem;
}

h1 {
    font-family: 'Syncopate', sans-serif;
    font-size: 1rem;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
}

.Content {
    background-color: #d2cbe3;
    border: 1px solid #d2cbe3;
    padding: 0.625rem;
    border-radius: 2px;
    
}

.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.Image {
    max-height: 80vh;
    max-width: 100%;
    object-fit: contain;
}

.Mobile {
    font-weight: bold;
}
